.row
  .col-xs-12.col-lg-12
    %h1 Monopoly Banking
    %p
      Monopoly app to help keep track of your monopoly games' money and history.
    %p
      %a.btn.btn-priamry.btn-raised(href="javascript:void(0)") Primary
