:javascript
  $(document).ready(function(){
    register_promo_link("#staging-bookshout_promo_link","#{@staging_endpoint}","#{@staging_key}");
    register_promo_link("#staging-bookshout_promo_link","#{@qa_endpoint}","#{@qa_key}");
  });
.row
  %h1 Bookshout Web Portal
  %p
    This page serves as simulation of the AMEX web portal to redeem a free book. Refereshing the campaign page 
.row
  .panel.panel-default
    .panel-body
      %p
        Before clicking the button, naviagte to:
        %a(href="http://staging.bookshout.com/amex-prototype-company") https://qa-feature.bookshout.com/amex-prototype-company
        and notice you will be rejected and redirected to the bookshout store front.
      %p
        Click the link and you will be allowed to continue with the redemption process
      %buton#staging-bookshout-promo-link.btn.btn-primary.btn-lg(type="button") Get free book
      %span#status
        Waiting for action
.row
  .panel.panel-default
    .panel-body
      %p
        Before clicking the button, naviagte to:
        %a(href="http://staging.bookshout.com/amex-prototype-company") https://qa-feature.bookshout.com/amex-prototype-company
        and notice you will be rejected and redirected to the bookshout store front.
      %p
        Click the link and you will be allowed to continue with the redemption process
      %buton#qa-bookshout-promo-link.btn.btn-primary.btn-lg(type="button") Get free book
      %span#status
        aiting for action
